In [1]:
print("hello My name is Aanshu Dwiwedi")

hello My name is Aanshu Dwiwedi

# variables in python

In [2]:
# name_of_variable = value

In [6]:
var1 = None

var1 = 123
print(var1)

var1 = 123.456
print(var1)

var1 = True
print(var1)

var1 = False
print(var1)

var1 = "Aanshu Dwiwedi"
print(var1)

123
123.456
True
False
Aanshu Dwiwedi

# Basic IO

In [9]:
var1 = input("Enter any value : ")# Input
print(var1)# Output
print("value =", var1)#output

Enter any value : aanshu
aanshu
value = aanshu

In [2]:
var1 = int(input("Enter number : "))
var2 = int(input("Enter number : "))
print(var1 + var2)

Enter number : 3
Enter number : 4
7

In [4]:
a = int(input("Enter numebr : "))
b = int(input("Enter number : "))
c = float(a/b)
print(c)

Enter numebr : 2
Enter number : 3
0.6666666666666666

In [8]:
a = int(input("Enter numebr : "))
b = int(input("Enter number : "))
c = float(a%b)
print(c)

Enter numebr : 3
Enter number : 2
1.0

In [11]:
a = int(input("Enter numebr : "))
b = int(input("Enter number : "))
c = int(a//b)
print(c)

Enter numebr : 3
Enter number : 2
1

In [13]:
a = int(input("Enter number : "))
b = int(input("Enter number : "))

if b > a:
  print("b is greater than a")
else:
  print("a is greater than b")

Enter number : 200
Enter number : 33
a is greater than b

#### data types - int,float,boolean,string

In [22]:
# string to int, float, boolean
str1 = "12345"
print(type(str1))

num1 = int(str1)
print(type(num1))

num2 = float(str1)
print(type(num2))

res = bool("True")# "True" "False"
print(type(res))

if(isinstance(num1, int)):
    print("Integer")
    
if(isinstance(num2, int)):
    print("Integer")
    
if(isinstance(res, int)):
    print("Integer")
    
if(isinstance(num1, float)):
    print("Float")
    
if(isinstance(num2, float)):
    print("Float")
    
if(isinstance(res, float)):
    print("Float")
    
if(isinstance(num1, bool)):
    print("Boolean")
    
if(isinstance(num2, bool)):
    print("Boolean")
    
if(isinstance(res, bool)):
    print("Boolean")
    
if(isinstance(num1, str)):
    print("String")
    
if(isinstance(num2, str)):
    print("String")
    
if(isinstance(res, str)):
    print("String")

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
Integer
Integer
Float
Boolean

In [19]:
str1 = "12345a"
print(type(str1))

num1 = int(str1)
print(type(num1))

num2 = float(str1)
print(type(num2))

res = bool("True")# "True" "False"
print(type(res))

<class 'str'>

ValueError: invalid literal for int() with base 10: '12345a'

In [20]:
str1 = "12345"
print(type(str1))

num1 = int(str1)
print(type(num1))

str1 = "12345.46"
num2 = float(str1)
print(type(num2))

res = bool("True")# "True" "False"
print(type(res))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [25]:
#int , float , boolean to string
num1 = 3456
num2 = 456.789
res = True

str1 = str(num1)
print(type(num1))
print(type(str1))
print()

str2 = str(num2)
print(type(num2))
print(type(str2))
print()

str3 = str(res)
print(type(res))
print(type(str3))

if(isinstance(str1, str)):
    print("string")

<class 'int'>
<class 'str'>

<class 'float'>
<class 'str'>

<class 'bool'>
<class 'str'>
string

In [28]:
# int to float
num1 = 345
num2 = float(num1)
print(type(num1))
print(type(num2))

<class 'int'>
<class 'float'>

In [27]:
num1 = 345.678
num2 = int(num1)
print(type(num1))
print(type(num2))

<class 'float'>
<class 'int'>

In [30]:
# task - Rounding the digits after decimal place
num1 = 456.789123
#456.79 #Rounding after decimal place
print(round(num1, 2))

456.79

In [32]:
# Operators
# 1. Arithmetic Operators
num1 = 1234
num2 = 45
num3 = num1+num2
print(num3)

num3 = num1-num2
print(num3)

num3 = num1 * num2
print(num3)

num3 = num1 /num2 # floating point division
print(num3)

num3 = num1//num2 #integer division
print(num3)

num3 = num1 % num2 # Rem/Mod
print(num3)

num3 = num1**num2 #Power (num1 power num2)
print(num3)

1279
1189
55530
27.42222222222222
27
19
12858259503317138993032060663115227698767697321022453511734361104006218632821822420757738016896992940685125968028282734964633411368542797824

In [2]:
import math

In [34]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [35]:
print(help(math))

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)


None

In [3]:
print(math.factorial(5))

120

In [4]:
num1 = math.floor(1234.456)
print(num1)

1234

In [6]:
print(math.pow(3.1,4))

92.35210000000001

In [7]:
print(math.sqrt(196))

14.0

In [8]:
print(math.pi)

3.141592653589793

In [1]:
# Data types - Extended
#1. bool
var1 = True # False
print(type(var1))

#2. int
var1 = 23456
print(type(var1))

#3. float
var1 = 12345.6789
print(type(var1))

#4. complex #real- life application?
var1 = 12345+6789J #real number + imaginary number
var1 = 12345+6789j
print(type(var1))
print()

#5.list
var1 = [5, 6, 7, 8, 9]
print(type(var1))
print(var1)
print(len(var1))

#indexing
print(var1[2])

print(var1[-5])
print(var1[-6])

<class 'bool'>
<class 'int'>
<class 'float'>
<class 'complex'>

<class 'list'>
[5, 6, 7, 8, 9]
5
7
5

IndexError: list index out of range

In [2]:
print(var1)

[5, 6, 7, 8, 9]

In [12]:
import sys
try:
    print(var1[-5])
    print(var1[-1])
except:
    print("Error ", sys.exc_info())

5
9

In [9]:
try:
    print(var1[-5])
    print(var1[-6])
except:
    print("Error ")

5
Error

In [16]:
import sys
try:
    print(var1[-5])
    print(var1[-6])
except:
    print("Error ", sys.exc_info()[0],sys.exc_info()[1])

5
Error  <class 'IndexError'> list index out of range

In [19]:
import sys
try:
    pass
except:
    print("Error : ", sys.exc_info()[1])

In [27]:
# Slicing - extract one or more than one values
import sys
try:
    var1 = [5,3,2,6,7] #declare and initialize
    print(var1[0:5])#form-index 0 to 4
except:
    print("Error : ", sys.exc_info()[1])

[5, 3, 2, 6, 7]

In [43]:
# Slicing
import sys
try:
    var1 = [5,3,2,6,7] #declare and initialize
    var2 = var1[0:5]
    print(var2)
    
    print(var1[0:2]) #0 to 1
    print(var1[-1:-5])
    print(var1[-5:-1])
    print(len(var1))
    
    print(var1[0:5:1])
    print(var1[0:5:2])
    print(var1[0:5:3])
    print(var1[::])
    print(var1[::2])
    print(var1[::-1])
except:
    print("Error : ", sys.exc_info()[1])

[5, 3, 2, 6, 7]
[5, 3]
[]
[5, 3, 2, 6]
5
[5, 3, 2, 6, 7]
[5, 2, 7]
[5, 6]
[5, 3, 2, 6, 7]
[5, 2, 7]
[7, 6, 2, 3, 5]

In [47]:
# Random Number
# how to generate random number
#How to store random numbers in list

In [51]:
from random import randint
print(randint(1, 100))

42

In [52]:
var1 =[randint(1,100), randint(1,100), randint(1,100)]

In [53]:
print(var1)

[52, 2, 2]

In [55]:
var1 =[randint(1,100), randint(1,1000), randint(1,10000)]

In [56]:
print(var1)

[47, 128, 8744]

In [65]:
# Generating multiple random numbers and store on list
from random import randint
list1 =[] #blank list
MAX = 100
for i in range(0,MAX):
    list1.append(randint(15,30))
    
print(list1[::2])

[19, 27, 19, 16, 19, 16, 22, 23, 18, 25, 29, 29, 24, 15, 24, 18, 15, 24, 24, 25, 28, 28, 20, 21, 16, 28, 29, 29, 28, 25, 20, 15, 25, 25, 19, 19, 18, 22, 19, 29, 19, 21, 23, 29, 15, 19, 26, 30, 26, 18]